:root{
    --white: hsl(0, 0%, 100%);
    --WHITE: hsl(0, 0%, 100%);
    --BLACK: hsl(0, 0%, 0%);
    --black-90: hsl(0, 0%, 10%);
    --black-70: hsl(0, 0%, 30%);
    --circle-color: hsl(277, 87%, 53%);
    --light-yellow: hsla(58, 100%, 50%, 0.788);
    --dark-blue: hsl(244, 86%, 53%);
}

body{
    /* background-color: rgb(212, 212, 212); */
    background-image: url('images/MapuaBG.jpg');
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: var(--black-70);
    /* min-height: 100vh; */
    overflow-x: hidden;
}

a{
    color: var(--main-color);
    text-decoration: none;
}

a:hover{
 color: var(--main-color);
}

img{
    max-width: 100%;
}

::selection{
    color: var(--WHITE);
    background-color: var(--main-color);
}

.header{
    border-bottom: 1px solid;
    background-color:rgb(40, 35, 35);
    padding: 10px 0;
}

.header-logo a{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(207, 199, 51);
}

.header-logo span{
    color: rgb(229, 18, 18);
 }

.section-padding{
    padding: 20px 0;
}

.section-title{
    margin-bottom: 30px;
    
}

.section-title .Title{
    font-size: 20px;
    color: #b81818;
    text-transform: capitalize;
}

.section-title .sub-title{
    font-size: 35px;
    font-weight: 600;
    font-weight: 600;
}

.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 1px;
}

.course p{
    text-align: justify;
    text-justify: inter-word;
    text-align: center;
}

.row{
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
}

.course-col{
    flex-basis: 31%;
    background: transparent;
    border-radius: 50px;
    margin-bottom: 0%;
    padding: 20px 20px;
    box-sizing: border-box;
}

h3{
    padding: 20px 20px;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    margin-top: 2px;
    margin-bottom: 2px;
    color: rgb(0, 0, 0);
}

p{
    color: rgb(0, 0, 0);
}

.course-col img{
    width: 100%;
    height: 60%;
    border-radius: 25px;
}

.course-col:hover{
    box-shadow: 0 0 20px 0px rgb(235, 215, 36);
}

.course-col1{
    flex-basis: 31%;
    background: transparent;
    border-radius: 50px;
    margin-bottom: 0%;
    padding: 20px 20px;
    box-sizing: border-box;
}

h3{
    padding: 20px 20px;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    margin: 10px 0;
    color: rgb(0, 0, 0);
}

p{
    color: rgb(0, 0, 0);
}

.course-col1 img{
    width: 100%;
    height: 60%;
    border-radius: 25px;
}

.course-col1:hover{
    box-shadow: 0 0 20px 0px rgb(37, 66, 235);
}

.course-col2{
    flex-basis: 31%;
    background: transparent;
    border-radius: 50px;
    margin-bottom: 0%;
    padding: 20px 20px;
    box-sizing: border-box;
}

h3{
    padding: 20px 20px;
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    margin: 1px 0;
    color: rgb(0, 0, 0);
}

p{
    color: rgb(0, 0, 0);
}

.course-col2 img{
    width: 100%;
    height: 60%;
    border-radius: 25px;
}

.course-col2:hover{
    box-shadow: 0 0 20px 0px rgb(224, 18, 18);
}


/*about us*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

*{
	box-sizing: border-box;
}

.container{
	max-width: 1170px;
	margin:auto;
}

.row{
	display: flex;
	flex-wrap: wrap;
}


/*responsive*/
@media(max-width: 991px){
	.team-section .team-items .item{
      flex-basis: calc(50% - 30px);
       max-width: calc(50% - 30px);

   }
}

@media(max-width: 767px){
	.team-section .team-items .item{
      flex-basis: calc(100%);
       max-width: calc(100%);

   }
}